<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>SSB</title>
    <!-- Favicon -->
    <link href="../assets/images/favicon.png" rel="shortcut icon">
    <!-- CSS -->
    <link href="../assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="../assets/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
    <link href="../assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <link href="../assets/plugins/scrollcue/scrollcue.css" rel="stylesheet">
    <link href="../assets/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">
    <!-- Theme Color -->
    <link href="../assets/css/theme-colors/theme-color-spring-red.css" rel="stylesheet">
    <!-- Fonts/Icons -->
    <link href="../assets/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/plugins/font-awesome/css/all.css" rel="stylesheet">
  </head>
    <body class="theme-color-spring-red preloader-theme" data-preloader="1">

      <!-- Header -->
      <div class="header right header-color-spring-red sticky">
        <div class="container">
          <!-- Logo -->
          <div class="header-logo">
            <ul class="list-inline">
              <li><img class="logo-dark" src="../assets/images/logo-min.png" alt="logo"></li>
              <li><img class="logo-light" src="../assets/images/logo-min.png" alt="logo"></li>
              <li><h4><a>Soto Sapi Boyolali</a></h4></li>
            </ul>
          </div>
          <!-- Menu -->
          <div class="header-menu">
            <!-- Just in case i need to add more nav contents -->
          </div>
          <!-- Menu Social Links -->
          <div class="header-menu-extra">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/SyaamilQuranOfficial"><i class="bi bi-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/syaamil_quran"><i class="bi bi-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/syaamilquran"><i class="bi bi-youtube"></i></a></li>
            </ul>
          </div>
          <!-- Menu Toggle -->
          <button class="header-toggle">
            <span></span>
          </button>
        </div><!-- end container -->
      </div>
      <!-- end Header -->
      
      <!-- Misi -->
      <div class="section-md bg-white-06">
        <div class="container">
          <div class="row g-5 align-items-center">
            <div class="col-12 col-lg-6">
              <h1 class="fw-light line-height-150 mb-3">Mari Bergabung !</h1>
              <p class="font-large">Spesial Soto Boyolali (SSB) Hj. Hesti Widodo merupakan usaha yang telah berdiri sejak tahun 2002 dan mulai dikembangkan dengan membuka outlet-outlet baru pada tahun 2012. Bergabunglah bersama kami untuk mari kita bersama menyejahterakan Indonesia.</p>
              <a class="button button-md button-backdrop-color-spring-red mt-4" href="#sign-up">Bergabung Sekarang !</a>
            </div>
            <div class="col-12 col-lg-6 icon-5xl">
              <img class="box-backdrop" src="../assets/images/homepage-1.jpg" alt="">
            </div>
          </div><!-- end row -->
        </div><!-- end container -->
      </div><!-- end Misi -->

      <!-- Scroll to top button -->
      <div class="scrolltotop">
        <a class="button-circle button-circle-md button-circle-dark" href="#"><i class="bi bi-arrow-up"></i></a>
      </div>
      <!-- end Scroll to top button -->

      <!-- Visi section -->
      <div class="section">
        <div class="container">
          <div class="row align-items-center g-5">
            <!-- Visi Image -->
            <div class="col-12 col-lg-6">
              <img class="box-backdrop" src="../assets/images/col-1.jpg" alt="">
            </div>
            <!-- Visi Content -->
            <div class="col-12 col-lg-6">
              <h3 class="fw-light mb-3">Visi</h3>
              <p>Menjadikan Spesial Soto Boyolali Hj. Hesti Widodo Mendunia Dan Mensejahterakan Orang Banyak</p>
            </div>
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
      <!-- end Visi section -->

      <!-- Misi Perusahaan section -->
      <div class="section pt-0">
        <div class="container">
          <h3 class="fw-light">Misi Perusahaan</h3>
          <div class="row icon-5xl g-5">
            <div class="col">
              <i class="bi bi-person-heart text-color-theme"></i>
              <p>Menjaga kualitas produk dan pelayanan prima demi kepuasan pelanggan</p>
            </div>
            <div class="col">
              <i class="bi bi-cart-check-fill text-color-theme"></i>
              <p>Menjaga kehalalan dan higienis produk</p>
            </div>
            <div class="col">
              <i class="bi bi-buildings-fill text-color-theme"></i>
              <p>Membangun perusahaan yang profesional</p>
            </div>
            <div class="col">
              <i class="bi bi-globe-asia-australia text-color-theme"></i>
              <p>Memiliki 200 cabang di seluruh Kota di Indonesia dan 5 Negara di dunia</p>
            </div>
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
      <!-- end Misi Perusahaan section -->

      <!-- Misi Sosial section -->
      <div class="section pt-0">
        <div class="container">
          <h3 class="fw-light">Misi Sosial</h3>
          <div class="row icon-5xl g-5">
            <div class="col">
              <i class="bi bi-person-arms-up text-color-theme"></i>
              <p>Mensejahterakan stakeholder yaitu karyawan dan keluarga, owner, investor dan masyarakat</p>
            </div>
            <div class="col">
              <i class="bi bi-hammer text-color-theme"></i>
              <p>Berkontribusi pada pembangunan bangsa dan negara</p>
            </div>
            <div class="col">
              <i class="bi bi-emoji-laughing-fill text-color-theme"></i>
              <p>Membantu sebanyak mungkin anak yatim dan dhuafa</p>
            </div>
            <div class="col">
              <i class="bi bi-heart-fill text-color-theme"></i>
              <p>Membangun generasi yang berkarakter</p>
            </div>
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
      <!-- end Misi Sosial section -->

      <!-- Video section -->
      <div class="section pt-0">
        <div class="container">
          <div class="mb-5">
            <div class="row align-items-end">
              <div class="col-12 col-sm-6">
                <h2 class="fw-normal m-0">Dokumentasi Kegiatan</h2>
              </div>
            </div>
          </div>
          <div class="owl-carousel" data-owl-nav="false" data-owl-margin="30" data-owl-xs="1" data-owl-sm="1" data-owl-md="1" data-owl-lg="2" data-owl-xl="2" data-owl-autoPlay="true">
            <!-- Video Slider Item 1 -->
            <div>
              <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dPYZcqYR9es?si=qFcy5uu_pEyDJF0H&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="p-3">
                <h5 class="fw-medium m-0"><a href="#">Video Number 1</a></h5>
                <span>17 Jan, 2024</span>
              </div>
            </div>
            <!-- Video Slider Item 2 -->
            <div>
              <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dPYZcqYR9es?si=qFcy5uu_pEyDJF0H&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="p-3">
                <h5 class="fw-medium m-0"><a href="#">Video Number 2</a></h5>
                <span>17 Jan, 2024</span>
              </div>
            </div>
            <!-- Video Slider Item 3 -->
            <div>
              <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dPYZcqYR9es?si=qFcy5uu_pEyDJF0H&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="p-3">
                <h5 class="fw-medium m-0"><a href="#">Video Number 3</a></h5>
                <span>17 Jan, 2024</span>
              </div>
            </div>
          </div><!-- end owl-carousel -->
        </div><!-- end container -->
      </div>
      <!-- end Video section -->

      <!-- Lowongan Info-->>
      <div class="section pt-0">
        <div class="container">
          <div class="mb-4">
            <div class="row align-items-end">
              <div class="col-12 col-sm-6">
                <h2 class="fw-normal m-0">Informasi Lowongan</h2>
              </div>
            </div>
          </div>
          {{ template "jobdesc" .}}
          
        </div><!-- end container -->
      </div>
      <!-- end Lowongan Info section-->

      <!-- Sign Up section -->
      <div class="section pt-0">
        <a id="sign-up"></a>
        <div class="container">
          <div class="mb-4">
            <div class="row align-items-end">
              <div class="col-12 col-sm-6">
                <h2 class="fw-normal m-0">Lamaran Lowongan</h2>
              </div>
            </div>
          </div>
          <!-- Form section -->
          <div class="contact-form">
            <form action="https://landing-page-ssb-recruitment-fbsvmkxjvq-et.a.run.app/api/contact-form" method="POST" id="contactform" class="form-style-5">
              <div class="row gx-3 gy-0">
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Nama*</label>
                  <input type="text" id="name" name="name" placeholder="Nama Lengkap" required>
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Email</label>
                  <input type="email" id="email" name="email" placeholder="Email Aktif">
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">No.Telp/Whatsapp*</label>
                  <input type="tel" id="phone" name="phone" placeholder="No.Telp / Whatsapp Aktif" required>
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Usia*</label>
                  <input type="number" id="age" name="age" placeholder="Usia" required>
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Agama*</label>
                  <input type="text" id="religion" name="religion" placeholder="Agama" required>
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Jenis Kelamin*</label>
                  <select id="gender" class="custom-select custom-select w-100" required>
                    <option value="1">Laki-Laki</option>
                    <option value="2">Perempuan</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Pendidikan Terakhir*</label>
                  <select id="degree" class="custom-select custom-select w-100" required>
                    <option value="Diploma">Diploma</option>
                    <option value="S1">S1</option>
                    <option value="S2">S2</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Nama Kampus*</label>
                  <input type="text" id="campus_name" name="campus_name" placeholder="Nama kampus" required>
                </div>
              </div>
              <div class="row gx-3 gy-0">
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Kota Asal*</label>
                  <input type="text" id="city_birthplace" name="city_birthplace" placeholder="Kota tempat anda lahir" required>
                </div>
                <div class="col-12 col-sm-6">
                  <label class="mb-1">Kota Domisili*</label>
                  <input type="text" id="city_residency" name="city_residency" placeholder="Kota tempat tinggal anda sekarang" required>
                </div>
              </div>
              <div class="row gx-3 gy-0">
                <div class="col">
                  <label class="mb-1">CV*</label>
                  <input type="file" id="cv" name="cv" placeholder="CV" required>
                </div>
              </div>
              <div class="col-12 col-sm-12" data-for="posisi">
                <label>Pilihan Posisi:</label>
                <!-- 1 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="internalauditseniormanager" name="Posisi[]" value="Internal Audit (Senior Manager)" >
                  <label class="form-check-label" for="internalauditseniormanager">Internal Audit (Senior Manager)</label>
                </div>
                <!-- 2 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="cultureorganizationaldevelopmentmanager" name="Posisi[]" value="Culture Organizational Development (Manager)">
                  <label class="form-check-label" for="cultureorganizationaldevelopmentmanager">Culture Organizational Development (Manager)</label>
                </div>
                <!-- 3 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="recruitmentandselectionstaff" name="Posisi[]" value="Recruitment & Selection (Staff)">
                  <label class="form-check-label" for="recruitmentandselectionstaff">Recruitment & Selection (Staff)</label>
                </div>
                <!-- 4 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="assessmentstaff" name="Posisi[]" value="Assessment (Staff)">
                  <label class="form-check-label" for="assessmentstaff"></label>Assessment (Staff)
                </div>
                <!-- 5 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="ssbcorpuniversitystaff" name="Posisi[]" value="SSB Corp University (Staff)">
                  <label class="form-check-label" for="ssbcorpuniversitystaff">SSB Corp University (Staff)</label>
                </div>
                <!-- 6 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="financesupervisor" name="Posisi[]" value="Finance (Supervisor)">
                  <label class="form-check-label" for="financesupervisor">Finance (Supervisor)</label>
                </div>
                <!-- 7 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="softwareengineerstaff" name="Posisi[]" value="Software Engineer (Staff)">
                  <label class="form-check-label" for="softwareengineerstaff">Software Engineer (Staff)</label>
                </div>
                <!-- 8 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="p2omanagerheadoffice" name="Posisi[]" value="P2O (Manager- Head Office)">
                  <label class="form-check-label" for="p2omanagerheadoffice">P2O (Manager- Head Office)</label>
                </div>
                <!-- 9 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="p2osupervisorheadoffice" name="Posisi[]" value="P2O (Supervisor - Head Office)">
                  <label class="form-check-label" for="p2osupervisorheadoffice">P2O (Supervisor - Head Office)</label>
                </div>
                <!-- 10 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="cateringmanagerheadoffice" name="Posisi[]" value="Catering (Manager - Head Office)">
                  <label class="form-check-label" for="cateringmanagerheadoffice">Catering (Manager - Head Office)</label>
                </div>
                <!-- 11 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="cateringsupervisorheadoffice" name="Posisi[]" value="Catering (Supervisor - Head Office)">
                  <label class="form-check-label" for="cateringsupervisorheadoffice">Catering (Supervisor - Head Office)</label>
                </div>
                <!-- 12 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="produksimanagerheadoffice" name="Posisi[]" value="Produksi (Manager - Head Office)">
                  <label class="form-check-label" for="produksimanagerheadoffice">Produksi (Manager - Head Office)</label>
                </div>
                <!-- 13 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="manageroutletsupervisor" name="Posisi[]" value="Manager Outlet (Supervisor)">
                  <label class="form-check-label" for="manageroutletsupervisor">Manager Outlet (Supervisor)</label>
                </div>
                <!-- 14 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="generalaffairareastaff" name="Posisi[]" value="General Affair Area (Staff)">
                  <label class="form-check-label" for="generalaffairareastaff">General Affair Area (Staff)</label>
                </div>
                <!-- 15 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="financeareastaff" name="Posisi[]" value="Finance Area (Staff)">
                  <label class="form-check-label" for="financeareastaff">Finance Area (Staff)</label>
                </div>
                <!-- 16 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="accountingsupervisor" name="Posisi[]" value="Accounting (Supervisor)">
                  <label class="form-check-label" for="accountingsupervisor">Accounting (Supervisor)</label>
                </div>
                <!-- 17 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="accountpayablecollectorstaff" name="Posisi[]" value="Account Payable Collector (Staff)">
                  <label class="form-check-label" for="accountpayablecollectorstaff">Account Payable Collector (Staff)</label>
                </div>
                <!-- 18 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="bookkeeperstaff" name="Posisi[]" value="Book Keeper (Staff)">
                  <label class="form-check-label" for="bookkeeperstaff">Book Keeper (Staff)</label>
                </div>
                <!-- 19 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="generalaccountingbankstaff" name="Posisi[]" value="General Accounting Bank (Staff)">
                  <label class="form-check-label" for="generalaccountingbankstaff">General Accounting Bank (Staff)</label>
                </div>
                <!-- 20 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="staffarsipstaff" name="Posisi[]" value="Staff Arsip (Staff)">
                  <label class="form-check-label" for="staffarsipstaff">Staff Arsip (Staff)</label>
                </div>
                <!-- 21 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="staffcostaccountingstaff" name="Posisi[]" value="Staff Cost Accounting (Staff)">
                  <label class="form-check-label" for="staffcostaccountingstaff">Staff Cost Accounting (Staff)</label>
                </div>
                <!-- 22 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="recruitmentandassessmentstaff" name="Posisi[]" value="Recruitment & Assessment (Staff)">
                  <label class="form-check-label" for="recruitmentandassessmentstaff">Recruitment & Assessment (Staff)</label>
                </div>
                <!-- 23 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="learninganddevelopmentsupervisor" name="Posisi[]" value="Learning & Development (Supervisor)">
                  <label class="form-check-label" for="learninganddevelopmentsupervisor">Learning & Development (Supervisor)</label>
                </div>
                <!-- 24 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="learninganddevelopmentstaff" name="Posisi[]" value="Learning & Development (Staff)">
                  <label class="form-check-label" for="learninganddevelopmentstaff">Learning & Development (Staff)</label>
                </div>
                <!-- 25 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="hcareasupervisor" name="Posisi[]" value="HC Area (Supervisor)">
                  <label class="form-check-label" for="hcareasupervisor">HC Area (Supervisor)</label>
                </div>
                <!-- 26 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="hcareastaff" name="Posisi[]" value="HC Area (Staff)">
                  <label class="form-check-label" for="hcareastaff">HC Area (Staff)</label>
                </div>
                <!-- 27 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="marketingseniormanager" name="Posisi[]" value="Marketing (Senior Manager)">
                  <label class="form-check-label" for="marketingseniormanager">Marketing (Senior Manager)</label>
                </div>
                <!-- 28 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="kontenkreatorsupervisor" name="Posisi[]" value="Konten Kreator (Supervisor)">
                  <label class="form-check-label" for="kontenkreatorsupervisor">Konten Kreator (Supervisor)</label>
                </div>
                <!-- 29 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="customerrelationmarketingsupervisor" name="Posisi[]" value="Customer Relation Marketing (Supervisor)">
                  <label class="form-check-label" for="customerrelationmarketingsupervisor">Customer Relation Marketing (Supervisor)</label>
                </div>
                <!-- 30 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="marketingbrandingstaff" name="Posisi[]" value="Marketing Branding (Staff)">
                  <label class="form-check-label" for="marketingbrandingstaff">Marketing Branding (Staff)</label>
                </div>
                <!-- 31 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="marketingsalessupervisor" name="Posisi[]" value="Marketing Sales (Supervisor)">
                  <label class="form-check-label" for="marketingsalessupervisor">Marketing Sales (Supervisor)</label>
                </div>
                <!-- 32 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="surveyorstaff" name="Posisi[]" value="Surveyor (Staff)">
                  <label class="form-check-label" for="surveyorstaff">Surveyor (Staff)</label>
                </div>
                <!-- 33 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="kemitraanstaff" name="Posisi[]" value="Kemitraan (Staff)">
                  <label class="form-check-label" for="kemitraanstaff">Kemitraan (Staff)</label>
                </div>
                <!-- 34 -->
                <div class="form-check">
                  <label class="form-check-label" for="supplychainmanagementseniormanager">Supply Chain Management (Senior Manager)</label>
                  <input class="form-check-input" type="checkbox" id="supplychainmanagementseniormanager" name="Posisi[]" value="Supply Chain Management (Senior Manager)">
                </div>
                <!-- 35 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="logisticareasupervisor" name="Posisi[]" value="Logistic Area (Supervisor)">
                  <label class="form-check-label" for="logisticareasupervisor">Logistic Area (Supervisor)</label>
                </div>
                <!-- 36 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="purchasingstaff" name="Posisi[]" value="Purchasing (Staff)">
                  <label class="form-check-label" for="purchasingstaff">Purchasing (Staff)</label>
                </div>
                <!-- 37 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="supplyplanstaff" name="Posisi[]" value="Supply Plan (Staff)">
                  <label class="form-check-label" for="supplyplanstaff">Supply Plan (Staff)</label>
                </div>
                <!-- 38 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="warehousesupervisor" name="Posisi[]" value="Warehouse (Supervisor)">
                  <label class="form-check-label" for="warehousesupervisor">Warehouse (Supervisor)</label>
                </div>
                <!-- 39 -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="maintenanceataumekaniksupervisor" name="Posisi[]" value="Maintenance / Mekanik (Supervisor)">
                  <label class="form-check-label" for="maintenanceataumekaniksupervisor">Maintenance / Mekanik (Supervisor)</label>
                </div><br>
              </div>
              <button class="button button-lg button-outline-dark" type="submit">Kirim</button>
            </form>
            <!-- Submit result -->
            <div class="submit-result">
              <span id="success">Terima kasih! Lamaran anda telah dikirim.</span>
              <span id="error">Terjadi kesalahan, Silahkan coba lagi!</span>
            </div>
          </div><!-- end Form -->
        </div>
      </div><!-- end Sign Up section -->

      <footer>
        <div class="bg-color-spring-red py-4">	
          <div class="container">
            <div class="row align-items-center g-2 g-lg-3">
              <div class="col-12 col-md-6 text-center text-md-start">
                <p class="color-white-09">&copy; 2024 SSB, All Rights Reserved.</p>
              </div>
              <div class="col-12 col-md-6 text-center text-md-end">
                <ul class="list-inline-sm">
                  <li><a class="button-circle button-circle-sm button-circle-social-facebook" href="https://www.facebook.com/SyaamilQuranOfficial"><i class="bi bi-facebook"></i></a></li>
                  <li><a class="button-circle button-circle-sm button-circle-social-instagram" href="https://www.instagram.com/syaamil_quran"><i class="bi bi-instagram"></i></a></li>
                  <li><a class="button-circle button-circle-sm button-circle-social-youtube" href="https://www.youtube.com/syaamilquran"><i class="bi bi-youtube"></i></a></li>
                </ul>
              </div>
            </div><!-- end row -->
          </div><!-- end container -->
        </div>
      </footer>

      <!-- ***** JAVASCRIPTS ***** -->
      <script src="../assets/plugins/jquery.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
      <script src="../assets/plugins/plugins.js"></script>
      <script src="../assets/js/functions.js"></script>
  </body>
</html>