{{define "jobdesc"}}
<!-- Lowongan Lists -->
<ul class="nav nav-pills mb-3">
  {{range .}}
  <li class="nav-item">
    {{if .IsActive}}
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#{{.Id}}">{{.Name}}</button>
    {{else}}
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#{{.Id}}">{{.Name}}</button>
    {{end}}
  </li>
  {{end}}
</ul>
<div class="tab-content">
{{range .}}
  {{if .IsActive}}
  <div class="tab-pane fade show active" id="{{.Id}}">
  {{else}}
  <div class="tab-pane fade" id="{{.Id}}">
  {{end}}
    {{if .IsImage}}
    <div class="row icon-5xl g-4">
      <div class="col-12 col-md-4">
        <ol class="list-ordered style-3 mb-3">
          <li><p class="fw-normal">Divisi : {{.Infos.Divisi}}</p></li>
          <li><p class="fw-normal">Level : {{.Infos.Level}}</p></li>
          <li><p class="fw-normal">Kebutuhan : {{.Infos.Kebutuhan}}</p></li>
          <li><p class="fw-normal">Penempatan : {{.Infos.Penempatan}}</p></li>
        </ol>
        {{ template "jobdesc-list" .}}
        {{ template "jobdesc-spesific" .}}
        {{ template "jobdesc-generic" .}}
      </div>
      <div class="col-lg-6">
        <img class="border border-dark border-radius p-1" src="{{.Image}}" alt="">
      </div>
    </div>
    {{else}}
    <div class="row icon-5xl g-4">
      <div class="col-12 col-md-4">
        <ol class="list-ordered style-3 mb-3">
          <li><p class="fw-normal">Divisi : {{.Infos.Divisi}}</p></li>
          <li><p class="fw-normal">Level : {{.Infos.Level}}</p></li>
          <li><p class="fw-normal">Kebutuhan : {{.Infos.Kebutuhan}}</p></li>
          <li><p class="fw-normal">Penempatan : {{.Infos.Penempatan}}</p></li>
        </ol>
      </div>
    </div>
    <div class="row icon-5xl g-4">
      {{if .IsJobDesc}}
      <div class="col-12 col-md-4">
        {{ template "jobdesc-list" .}}
      </div>
      {{end}}
      {{if .IsSpesific}}
      <div class="col-12 col-md-4">
        {{ template "jobdesc-spesific" .}}
      </div>
      {{end}}
      <div class="col-12 col-md-4">
        {{ template "jobdesc-generic" .}}
      </div>
    </div>
    {{end}}
    
  </div>
  {{end}}
</div><!-- end Lowongan List -->
{{end}}



{{define "jobdesc-list"}}
  {{if .IsJobDesc}}
    <h5 class="fw-normal mt-2">Job Desk</h5>
    <ul class="list-dash">
      {{range .JobDesc}}
      <li>{{.}}</li>
      {{end}}
    </ul>
  {{end}}
{{end}}

{{define "jobdesc-generic"}}
  <h5 class="fw-normal mt-2">Kualifikasi Umum</h5>
  <ul class="list-dash">
    {{range .QGeneric}}
    <li>{{.}}</li>
    {{end}}
  </ul>
{{end}}

{{define "jobdesc-spesific"}}
  {{if .IsSpesific}}
  <h5 class="fw-normal mt-2">Kualifikasi Khusus</h5>
  <ul class="list-dash">
    {{range .QSpecific}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{end}}
{{end}}